header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    width:100% ;

    

    background-color: rgb(148, 114, 2);
    position: relative;

    img{ width:100% ;
        height:  200px;}
        nav{bacground-color: #6b6405;
            width: 100%;
            padding: 30px}



}